<%= form_with(model: project, local: true, class: "form") do |form| %>
  <% if project.errors.any? %>
  <div class="errors">
    <h2><%= pluralize(project.errors.count, "error") %>
    prohibited this project from being saved:</h2>

    <ul>
      <% project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
