<%= form_with(model: project, local: true, class: "form lg:w-1/2") do |form| %>

  <div class='mb-4'>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= error_messages_for(form.object, :name) %>
  </div>

  <div class='mb-4'>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit nil, class: "btn btn-blue" %>
<% end %>
