<h1>New Project</h1>
<%= form_with(model: @project, local: true, class: "form") do |f| %>
  <div class="mb-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: "border-red-500 mb-1" %>
    <p class="text-red-500 text-xs italic"><%= f.object.errors.full_messages_for(:name).first %></p>
  </div>

  <div class="mb-6">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit nil, class: "btn-blue" %>
<% end %>
