<% set_title @project.name, "Projects" %>
<h1><%= @project.name %></h1>

<%= link_to "Edit Project", edit_project_path(@project) %>
<%= button_to "Delete Project",
    project_path(@project),
    method: :delete,
    remote: true,
    form: { data: { turbo_confirm: 'Are you sure?' } }
%>

<p><%= @project.description %></p>

<header>
  <h2>Tickets</h2>

  <ul class="actions">
    <li><%= link_to "New Ticket", new_project_ticket_path(@project) %></li>
  </ul>
</header>
