<% set_title @project.name, "Projects" %>
<header class="header">
  <h1><%= @project.name %></h1>

  <div class="actions">
    <%= link_to "Edit Project", edit_project_path(@project), class: "button-primary" %>
    <%= button_to "Delete Project",
        project_path(@project),
        class: "button-danger",
        method: :delete,
        remote: true,
        form: { data: { turbo_confirm: 'Are you sure?' } }
    %>
  </div>
</header>

<p><%= @project.description %></p>

<header class="header">
  <h2>Tickets</h2>

  <ul class="actions">
    <li>
      <%= link_to "New Ticket",
        new_project_ticket_path(@project),
        class: "button-primary"
      %>
    </li>
  </ul>
</header>

<ul>
  <% @project.tickets.each do |ticket| %>
    <li>
      #<%= ticket.id %> -
      <%= link_to ticket.name, [@project, ticket] %>
    </li>
  <% end %>
</ul>
