<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Ticketee
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless user_signed_in? %>
      <li class="<%= "active" if current_page?("/users/sign_up") %>">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="<%= "active" if current_page?("/users/sign_in") %>">
        <%= link_to "Sign in", new_user_session_path %>
      </li>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="navbar-right">
        <p class="navbar-text">
          Signed in as <%= current_user.email %>
        </p>
        <ul class="nav navbar-nav">
          <li><%= link_to "Sign out", destroy_user_session_path,
            method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <% flash.each do |key, message| %>
      <div><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
