<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title) || "Ticketee" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="mx-8 lg:mx-64 md:mx-32">
      <div class="mb-8 bg-gray-200 p-4 rounded-b flex">
        <h1 class="text-xl">Ticketee</h1>
        <div class="actions ml-auto">
          <%= link_to "Sign up", new_user_registration_path %>
        </div>
      </div>
      <% flash.each do |key, message| %>
        <% style_class = key == "notice" ? "flash-notice" : "flash-alert" %>
        <div class="<%= style_class %> mb-4"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
</html>
