<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title) || "Ticketee" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="my-4 mx-8 lg:mx-64 md:mx-32">
      <% flash.each do |key, message| %>
        <div><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
</html>
