<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Ticketee
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li class="<%= "active" if current_page?("/users/sign_up") %>">
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
    <% flash.each do |key, message| %>
      <div><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
